<div class="sidebar">
    <h3 style="text-align: center;"> <a href="{{ site.baseurl }}/"> {{ site.title }} </a> </h3>
    <div class="container">
        <div class="sidebar-about">

            <div class="sidebar-about-info"> 
                <a href="/public/pdfs/resume.pdf"><i class="fa fa-file-text-o" title=Resume></i></a>
                <a href="{{ site.github.repo }}"><i class="fa fa-github" title=Github></i></a>
                <a href="{{ site.author.twitter }}"><i class="fa fa-twitter" title=Twitter></i></a>
            </div>
            <div class="sidebar-about-info hide-large">
                <a class="" href="/">Home</a>
                <a class="" href="/projects/">Projects</a>
                <a class="" href="/talks/">Talks</a> 
                <a class="" href="/blog/">Blog</a>
                <a class="" href="/shenzhen/">Shenzhen Blog</a>
                <a class="" href="/musings/">Musings</a>
                <a class="" href="/archive/">Archive</a>
            </div>
        </div>




        <nav class="sidebar-nav hide-small">
            <a class="sidebar-nav-item" href="/">Home</a>
            <a class="sidebar-nav-item" href="/projects/">Projects</a>
            <a class="sidebar-nav-item" href="/talks/">Talks</a> 
            <a class="sidebar-nav-item" href="/blog/">Blog</a>
            <a class="sidebar-nav-item" href="/shenzhen/">Shenzhen Blog</a>
            <a class="sidebar-nav-item" href="/musings/">Musings</a>
            <a class="sidebar-nav-item" href="/archive/">Archive</a>
        </nav>
    </div>
</div>


