---
layout: page
title: Talks
disqusId: ec28422226751827afed49a157f0e0ad03fbde63
rank: C
notitle?: True
---

<section class="section">
    <div class="section-head">
        <h2 class="section-title">Talks</h2>
    </div>
    <p>Talks I have given, plus related materials such as slides or notes.</p>

    <div class="content-list">
        {% for post in site.categories.talks %}
        <article class="content-item">
            <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>
            {% if !!post.subtitle %}
            <div class="meta">@ {{ post.subtitle }}</div>
            {% endif %}
            <div class="meta">{{ post.date | date:"%B %d, %Y" }}</div>
            {% if !!post.tags %}
            {% capture tagsentence %}{{ post.tags | array_to_sentence_string }}{% endcapture %}
            {% assign stripped = (tagsentence | lstrip) %}
            {% if stripped != '' %}
            <div class="meta">Tags: {{ tagsentence }}</div>
            {% endif %}
            {% endif %}
        </article>
        {% endfor %}
    </div>
</section>
